html, body {
    margin: -15px 0 0 0;
    height: 100%;
    font-family: Lato, Arial;
}

.back-arrow {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    transition: 0.3s;

}

.back-arrow:active {
    transform: scale(1.2);
}

.back-arrow:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 2.9em;
    margin-bottom: -10px;
}

.shape {
    margin-top: 20px;
}


#home {
    position: relative;
    float: right;
    bottom: 80px;
}

.shape {
    margin-bottom: 20px;
}



table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}




.page-wrap {
    text-align: center;
    align-content: center;
    width: 800px;
    margin: 0 auto;
}

.header {
    padding: 20px;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
}


.size-field{
    width: 90%;
    margin: auto;
    position: relative;

}

/* necessary to give position: relative to parent. */
input[type="number"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

input[type="number"]:focus {
    outline: none;
}

.effect-8
{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}

.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.3s;}
.effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.4s;}
.effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}


ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

li {
    font: 200 1.5em/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
    font-size: 30px;
    background: #f6f6f6;
}